.title {
    width: max-content;
    border: 0px;

    background-color: var(--primary);
    color: white;

    letter-spacing: -0.1ch;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;

    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 5px;

    margin-bottom: 10px;
}

.subTitle {
    width: max-content;
    color: var(--primary);

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;

    margin-bottom: 20px;
}

.list {
    margin-bottom: 100px;
}

.type {
    width: max-content;
    border: 0px;

    background-color: var(--primary);
    color: white;

    letter-spacing: -0.1ch;
    font-family: "Raleway", sans-serif;
    font-style: italic;

    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 2px;

    margin-bottom: 5px;
}

.listElement {
    width: max-content;
    color: var(--primary);

    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;

    margin-top: 0px;
    margin-bottom: 3px;
}

.listElement:after {
    display: block;
    content: "";

    border-bottom: solid 0.5px var(--primary);

    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 250ms ease-in-out;
}

.listElement:hover:after {
    transform: scaleX(1);
}

.value {
    font-weight: 400;
}

.youtubeContainer {
    position: relative;
    aspect-ratio: 16/9;
}

.youtubeContainer iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .element.math {
        margin-top: 15px;
    }

    .youtubeContainer {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .youtubeContainer {
        margin-left: auto;
        margin-right: auto;
        width: 600px;
    }
}

@media (min-width: 1280px) {
    .youtubeContainer {
        width: 1000px;
    }
}

@media (min-width: 1920px) {
    .youtubeContainer {
        width: 1200px;
    }
}

@media (min-width: 2560px) {
    .youtubeContainer {
        width: 1500px;
    }
}
